<h1><%= @cocktail.name %></h1>

<p>
  <strong>Doses:</strong><%=  %>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.description %>: <%= dose.ingredient.name %>
    </li>
  <% end %>
</p>


<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail)   %>
